@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 70px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1170px;

// Breakpoints for UNIST
$small-screen: 500px;
$medium-screen: 640px;
$large-screen: 960px;

// Define your breakpoints
$mobile-small: new-breakpoint(max-width $small-screen);
$mobile-down: new-breakpoint(max-width $medium-screen);
$tablets-down: new-breakpoint(max-width $large-screen);
$tablets-up:   new-breakpoint(max-width ($large-screen + 1));
$desktop: new-breakpoint(min-width $large-screen);

$section-spacing:	40px;
$elements-spacing:	30px;
$footer-spacing:	60px;
$paragraph-spacing: 20px;

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}