$base-font-size: 16px;
$base-line-height: 1.5;
$small-font-size: 14px;
$xsmall-font-size: 12px;
$action-color: $secondary-color;

$font-weight-normal: normal;
$font-weight-bold: bold;

$h1-fontsize: 32px;
$h2-fontsize: 28px;
$h3-fontsize: 24px;
$h4-fontsize: 18px;
$h5-fontsize: 14px;
$h6-fontsize: 12px;

$h1-lineheight: 1.125;
$h2-lineheight: 1.125;
$h3-lineheight: 1.125;
$h4-lineheight: 1.25;
$h5-lineheight: 1.25;
$h6-lineheight: 1.4;

$h1-margin: 32px;
$h2-margin: 30px;
$h3-margin: 24px;
$h4-margin: 18px;
$h5-margin: 14px;
$h6-margin: 12px;

$article-title-fsz: 32px;
$article-title-lh: 1.125;

$article-header-fsz: 18px;
$article-header-lh: 1.125;

$spacing-small: 20px;
$spacing-medium: 30px;
$spacing-large: 40px;

$base-font-family: "Noto Sans Korean", sans-serif;
$heading-font-family: $base-font-family;


@mixin text1 {
  font-size: $h1-fontsize;
  line-height: $h1-lineheight;
}

@mixin text2 {
  font-size: $h2-fontsize;
  line-height: $h2-lineheight;
}

@mixin text3 {
  font-size: $h3-fontsize;
  line-height: $h3-lineheight;
}

@mixin text4 {
  font-size: $h4-fontsize;
  line-height: $h4-lineheight;
}

@mixin text5 {
  font-size: $h5-fontsize;
  line-height: $h5-lineheight;
}

@mixin text6 {
  font-size: $h6-fontsize;
  line-height: $h6-lineheight;
}

@mixin p {
  font-family: $small-font-family;
  line-height: $p-lineheight;
}

@mixin a {
  color: $black;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

$font-weight-lighter: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

@mixin font-w( $font-weight: "normal" ) {
  @if $font-weight == "bold" {
    font-weight: $font-weight-bold;
  } @else if $font-weight == "medium" {
    font-weight: $font-weight-medium;
  } @else if $font-weight == "lighter" {
    font-weight: $font-weight-lighter;
  } @else {
    font-weight: $font-weight-normal;
  }
}

