////////////////////////
// Noto Korean Font
////////////////////////

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: lighter;
    src: url('../fonts/NotoSans-Light.eot');
    src: local('Noto Sans CJK KR'),
    url('../fonts/NotoSans-Light.otf') format('opentype'),
    url('../fonts/NotoSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/NotoSans-Regular.eot');
    src: local('Noto Sans CJK KR'),
    url('../fonts/NotoSans-Regular.otf') format('opentype'),
    url('../fonts/NotoSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/NotoSans-Bold.eot');
    src: local('Noto Sans CJK KR'),
    url('../fonts/NotoSans-Bold.otf') format('opentype'),
    url('../fonts/NotoSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'unist-icons';
  src:url('../fonts/unist-icons.eot?-sqrw1f');
  src:url('../fonts/unist-icons.eot?#iefix-sqrw1f') format('embedded-opentype'),
  url('../fonts/unist-icons.ttf?-sqrw1f') format('truetype'),
  url('../fonts/unist-icons.woff?-sqrw1f') format('woff'),
  url('../fonts/unist-icons.svg?-sqrw1f#unist-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin unist-icon($icon, $location: "before") {
  @if ($location == "before") {
    &:before {
      content: $icon;
      position: relative;
      top: 1px;
      display: inline-block;
      font-family: 'unist-icons';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    margin-right: 5px;
  } @else {
    &:after  { content: $icon;
      position: relative;
      top: 1px;
      display: inline-block;
      font-family: 'unist-icons';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  }
}

$icon-triangle-up: "\e630";
$icon-triangle-right: "\e631";
$icon-triangle-left: "\e632";
$icon-triangle-down: "\e633";
$icon-unlocked: "\e634";
$icon-clock: "\e635";
$icon-clock2: "\e636";
$icon-lock: "\e637";
$icon-vimeo: "\e604";
$icon-youtube: "\e60b";
$icon-google-plus: "\e62d";
$icon-facebook: "\e62e";
$icon-twitter: "\e62f";
$icon-open-book: "\e61a";
$icon-cd-media: "\e61b";
$icon-question-mark: "\e61c";
$icon-create: "\e61d";
$icon-calendar: "\e61e";
$icon-file: "\e61f";
$icon-notepad: "\e620";
$icon-database: "\e621";
$icon-pen: "\e622";
$icon-add-person: "\e623";
$icon-radio: "\e624";
$icon-chapter: "\e625";
$icon-question-again: "\e626";
$icon-paper-files: "\e627";
$icon-book-stack: "\e628";
$icon-calendar-alt: "\e629";
$icon-notepad-alt: "\e62a";
$icon-story: "\e62b";
$icon-book-stack-alt: "\e62c";
$icon-chevron-soft-down: "\e615";
$icon-chevron-soft-left: "\e616";
$icon-chevron-soft-right: "\e617";
$icon-chevron-soft-up: "\e618";
$icon-read-more: "\e619";
$icon-circle: "\e610";
$icon-users-alt: "\e611";
$icon-building: "\e612";
$icon-stairs: "\e613";
$icon-users: "\e614";
$icon-book-alt: "\e600";
$icon-coffee-mug: "\e601";
$icon-coffee: "\e602";
$icon-computer: "\e603";
$icon-pdp: "\e605";
$icon-scanner: "\e606";
$icon-screen: "\e607";
$icon-tv: "\e608";
$icon-wi-fi: "\e609";
$icon-ask-us: "\e60a";
$icon-print-copy-scan: "\e60c";
$icon-proxy: "\e60d";
$icon-quick-requests: "\e60e";
$icon-user-guide: "\e60f";
