.EXLMyAccountTabsRibbon,
.EXLMyAccountContainer {
  @include add-side-margins();
}

@include media($tablets-down) {

  .EXLMyAccountContainer {
    @include reset-margins;
    @include outer-container;
    @include add-side-margins;
    padding: 10px;
    padding-bottom: 20px;
    min-height: 280px;
  }

  /* Left Hand */
  #exlidMyAccountMainMenuTile,
  .EXLMyAccountMainMenuTile {
    @include reset-margins;
    @include span-columns(3 of 8);
    margin-bottom: 20px;
  }

  /* Right Hand */
  #exlidMyAccountMainContainer1,
  .EXLMyAccountMainContainer {
    @include reset-margins;
    @include span-columns(5 of 8);
    @include omega();
    vertical-align: text-top;
    margin-bottom: 20px;
  }

}

@include media($mobile-down) {
  /* Left Hand */
  #exlidMyAccountMainMenuTile,
  .EXLMyAccountMainMenuTile {
    @include reset-margins;
    @include span-columns(4 of 4);
    @include omega();
    margin-bottom: 20px;
  }

  /* Right Hand */
  #exlidMyAccountMainContainer1,
  .EXLMyAccountMainContainer {
    @include reset-margins;
    @include span-columns(4 of 4);
    @include omega();
    margin-bottom: 20px;
  }
}