@include media($tablets-down) {

  .EXLMyAccountContainer {
    @include reset-margins;
    @include outer-container;
    padding: 20px;
    padding-bottom: 40px;
    min-height: 300px;
    background-color: $gray-light;
    border-top: 1px solid $white;
    @include clearfix;
    margin-bottom: 20px;
  }

  /* Left Hand */
  #exlidMyAccountMainMenuTile,
  .EXLMyAccountMainMenuTile {
    @include reset-margins;
    @include span-columns(2 of 8);
    margin-bottom: 20px;
  }

  /* Right Hand */
  #exlidMyAccountMainContainer1,
  .EXLMyAccountMainContainer {
    @include reset-margins;
    @include span-columns(6 of 8);
    font-size: 100%;
    vertical-align: text-top;
    margin-bottom: 20px;
  }

}

@include media($mobile-down) {
  /* Left Hand */
  #exlidMyAccountMainMenuTile,
  .EXLMyAccountMainMenuTile {
    @include reset-margins;
    @include span-columns(4 of 4);
    margin-bottom: 20px;
  }

  /* Right Hand */
  #exlidMyAccountMainContainer1,
  .EXLMyAccountMainContainer {
    @include reset-margins;
    @include span-columns(4 of 4);
    margin-bottom: 20px;
  }
}