.folders_new {
  padding-right: 0px;
  background: none $white no-repeat left bottom;
  width: 15%;
  border: 1px solid $base-color-light;
}

@include media($tablets-down) {
  .folders_new {
    width: 25%;
  }
}

@include media($mobile-down) {

  .folders_new,
  #foldersDiv.folders_new {
    display: block;
    float: left;
    @include span-columns(4 of 4);
    @include omega();
    margin-bottom: 20px;
  }

  .folder_details,
  .EXLEShelfFolderContents.folder_details {
    margin-left: 0;
    display: block;
    float: left;
    @include span-columns(4 of 4);
    @include omega();
    margin-bottom: 20px;
  }
}
